@media screen and (max-height: 797px) {
  .app-container {
    height: 118vh;
  }
}

@media screen and (min-height: 877px) {
  .app-container {
    height: 100vh;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
